<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="firstpage" id="firstpid">
            <module name="Javid_Learning"/>
        </route>
        <route frontName="secondpage" id="secondpid">
            <module name="Javid_Learning"/>
        </route>
    </router>
</config>