<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Javid_DependentFields::menu"
             title="Javid"
             module="Javid_DependentFields"
             sortOrder="100"
             resource="Javid_DependentFields::menu"/>

        <add id="Javid_DependentFields::group"
             title="Javid Dependent Fields"
             module="Javid_DependentFields"
             sortOrder="10"
             resource="Javid_DependentFields::group"
             parent="Javid_DependentFields::menu"/>

        <add id="Javid_DependentFields::example"
             title="Javid Dependent Fields Example"
             module="Javid_DependentFields"
             sortOrder="10"
             action="dependflds/example"
             resource="Javid_DependentFields::example"
             parent="Javid_DependentFields::group"/>
    </menu>
</config>
